{% extends 'base.html' %}

{% block body %}

    <h2>{{ the_title }}</h2>
    <form method='POST' action='/verification'>
        <table>
            <tr>
                <td>Login:</td>
                <td><input name='login' type='TEXT' width='60'></td>
            </tr>
            <tr>
                <td>password:</td>
                <td><input name='password' type='TEXT'></td>
            </tr>
        </table>
        <p><input value='Sign in' type='SUBMIT'></p>
    </form>

{% endblock %}